.responsive-div {
  width: 90%;
  /* Default: for screens smaller than 768px */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .responsive-div {
    width: 50%;
    /* Half the width for medium screens and larger */
  }
}


.login-responsive-div {
  width: 90%;
  /* Default: for screens smaller than 768px */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .login_responsive-div {
    width: 30%;
    /* Half the width for medium screens and larger */
  }
}

.intro-div{
 height: 80vh;
 align-content: center;
 text-align: center;
}

.end-div{
  height: 10vh;
  align-content:end ;
  text-align: center;
}