.responsive-div {
  width: 70%;
  text-align: center;
  margin: 0 auto;

  /* Flexbox for vertical centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */

  /* Ensure parent container has height set */
  height: 80vh; /* Full viewport height */
}

@media (min-width: 826px) {
  .responsive-div {
    align-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    
    /* Half the width for medium screens and larger */
  }
}




.center-div{
 height: 80vh;
 align-content: center;
 text-align: center;
}

.end-div{
  height: 10vh;
  align-content:end ;
  text-align: center;
}